*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{

  width: 100%;
  background-color: rgba(209, 160, 246, 0.55);
  height: 100vh;
}

.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

}
.header{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin-top:50px;
  /*position: fixed;*/


}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;



}

h1{
  text-decoration: underline;
  color: #000000;
}


.card{
  background-color: rgba(207, 159, 241, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 7px;
  min-width: 70%;
  max-width: 70%;
  padding: 10px;
  margin-block: 10px;
  max-height: 300px;
  overflow: auto;
}

.copied-text{
  text-align: left;
}

.titlebar{
  width: 100%;
  background-color: #2647ea;
  display: flex;
  position: fixed;


}

.titlebar-btns{
  display: flex;
  flex-direction: row-reverse;

}

.titlebar-btns button{
  background-color: rgba(209, 160, 246, 0.55);
  border: none;
}

.titlebar-btns button{
  padding: 10px;

}

.titlebar-btns button:hover{
  background-color: rgba(233, 215, 246, 0.55);


}




.empty-space-title-bar{
  background-color: rgba(209, 160, 246, 0.55);
  width: 100%;

}


